.main-page-desktop-wrapper {
  margin: 20px auto 45px;
  display: flex;
  justify-content: center;

  .filter-wrapper {
    width: 14%;

    .filter-button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .filter-button {
        width: 100%;
      }

      @media only screen and (max-width: 920px) {
        .filter-button {
          font-size: 11px;
        }
      }
    }

    .filter-name {
      font-size: 1rem;
    }

    .search {
      border: 1px solid rgba(0, 0, 0, 0.51);
      border-radius: 5px;
      padding: 0 10px;
      margin-top: 9px;
      margin-bottom: 15px;
    }

    .price-filter {
      display: flex;
      justify-content: space-between;

      .price-search {
        border: 1px solid rgba(0, 0, 0, 0.51);
        border-radius: 5px;
        padding: 0 10px;
        width: 48.5%;
        margin-top: 9px;
        margin-bottom: 15px;
      }
    }

    .filter-select {
      width: 100%;
      height: 32px;
      border: 1px solid rgba(0, 0, 0, 0.51);
      border-radius: 5px;
      margin: 9px 0 15px 0;
      padding: 0 10px;
    }
  }

  .feed-wrapper {
    width: 50%;
    padding-left: 66px;

    .ad-wrapper {
      margin-bottom: 36px;
      display: flex;
      justify-content: space-between;

      .pic-wrapper {

        img {
          border: 1px solid rgba(0, 0, 0, 0.51);
          border-radius: 5px;
          width: 186px;
          height: 107px;
        }

        @media only screen and (max-width: 1024px) {
          img {
            width: 140px;
          }
        }
      }

      .info-wrapper {
        margin-left: 20px;
        width: 37vw;
        border-bottom: 1px solid rgba(0, 0, 0, 0.51);
        margin-bottom: 4px;

        .breed,
        .price {
          font-size: 18px;
          margin-bottom: 10px;
        }

        .description {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.51);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-bottom: 10px;
        }

        .location {
          margin-top: 10px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.51);
        }
      }
    }
  }
}