@font-face {
    font-family: "ReemKufi";
    src: url("../../assets/fonts/ReemKufi-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

.header-wrapper {
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);

    .toolbar {
        justify-content: space-between;
        padding: 0;

        .toolbar-left-side.desktop {
            width: 34.5%;
            display: flex;
            justify-content: center;
            font-family: ReemKufi, sans-serif;
            font-size: 64px;
            color: #d27a3d;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: #230203;

            .logo {
                margin: 5px 3px 0;

                img {
                    width: 55px;
                    height: 55px;
                }
            }
        }

        @media only screen and (max-width: 1160px) {
            .toolbar-left-side.desktop {
                font-size: 44px;

                .logo {
                    img {
                        width: 43px;
                        height: 43px;
                    }
                }
            }
        }

        .search.desktop {
            width: 34.5%;
            border: 1px solid rgba(0, 0, 0, 0.51);
            border-radius: 5px;
            padding: 0 10px;
        }

        .toolbar-right-side.desktop {
            width: 31%;
            display: flex;
            justify-content: center;
            align-items: center;

            .submit-an-ad-button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10%;

                .submit-an-ad-button {
                    width: 11.5vw;
                }

                @media only screen and (max-width: 1145px) {
                    .submit-an-ad-button {
                        font-size: 10px;
                    }
                }

                @media only screen and (max-width: 895px) {
                    .submit-an-ad-button {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
