@font-face {
    font-family: "ReemKufi";
    src: url("../../assets/fonts/ReemKufi-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

.logo404-wrapper {
    display: flex;
    justify-content: center;

    .four {
        font-family: ReemKufi, sans-serif;
        font-size: 230px;
        color: #d27a3d;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #230203;
    }

    .four.one {
        margin-left: 10px;
    }

    .logo {
        margin-top: 75px;

        img {
            width: 180px;
            height: 180px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .logo404-wrapper {
        .four {
            font-size: 170px;
        }

        .logo {
            margin-top: 70px;

            img {
                width: 120px;
                height: 120px;
            }
        }
    }
}

.message-wrapper {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    width: 670px;

    .page-name {
        color: #d27a3d;
        text-decoration: underline;
        word-break: break-all;
    }
}

@media only screen and (max-width: 720px) {
    .message-wrapper {
        font-size: 26px;
        width: 360px;
    }
}

@media only screen and (max-width: 425px) {
    .message-wrapper {
        font-size: 20px;
        width: 300px;
    }
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 150px;

    .go-home-button {
        width: 217px;
    }
}

@media only screen and (max-width: 675px) {
    .button-wrapper {
        margin-bottom: 50px;

        .go-home-button {
            width: 150px;
        }
    }
}
