.footer-wrapper {
  height: 84px;
  border-top: 1px solid rgba(0, 0, 0, 0.51);
  font-size: 14px;
  padding: 7px 0 7px 20px;
  color: rgba(0, 0, 0, 0.51);

  .footer-line {
    margin: 3px 0;
  }
}

@media only screen and (max-width: 720px) {
  .footer-wrapper {
    padding: 7px 0 7px 10px;
  }
}
