.drawer-wrapper {
  width: 100vw;

  .drawer-icons {
    height: 70px;
    display: flex;
    justify-content: space-between;

    .avatar-drawer {
      border: 1px solid rgba(0, 0, 0, 0.51);
      height: 45px;
      width: 45px;
      margin: 12px 20px 0 0;
    }
  }

  .drawer-button-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px 0;

    .submit-button {
      width: 280px;
    }
  }

  .drawer-divider {
    margin: 0 20px;
  }

  .my-account-button {
    margin-left: 15px;
    margin-top: 10px;
  }

  .logout-button {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .filter-name {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 25px;
  }

  .search {
    border: 1px solid rgba(0, 0, 0, 0.51);
    border-radius: 5px;
    padding: 0 10px;
    margin: 9px 25px 0;
  }

  .price-filter-wrapper {
    padding: 0 25px;
    margin-top: 9px;
    display: flex;
    justify-content: center;

    .left-search {
      border: 1px solid rgba(0, 0, 0, 0.51);
      border-radius: 5px;
      padding: 0 10px;
      width: 50%;
      margin-right: 3px;
      margin-left: 0;
    }

    .right-search {
      border: 1px solid rgba(0, 0, 0, 0.51);
      border-radius: 5px;
      padding: 0 10px;
      width: 50%;
      margin-left: 3px;
    }
  }

  .filter-select-wrapper {
    padding: 0 25px;
    margin-bottom: 15px;

    .filter-select {
      width: 100%;
      height: 32px;
      border: 1px solid rgba(0, 0, 0, 0.51);
      border-radius: 5px;
      padding: 0 10px;
    }
  }

  .reset-filters {
    text-align: right;
    font-size: 14px;
    margin: -7px 25px 10px 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.51);
  }

  .reset-filters:hover {
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.2s ease;
  }
}
